input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

form {
  margin: auto;
  width: 35%;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex: 1 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  float: left;
  width: 25%;
}

.right {
  float: right;
  width: 25%;
}

.containere {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(201, 214, 222, 1) 0%, rgba(236, 252, 255, 1) 100%);
  font-size: 1.2rem;
  height: 50%;
}

body {
  background-color: beige;
}

.button2 {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button2:hover {
  background-color: #45a049;
}

.containere2 {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
  font-size: 1.2rem;
  height: 50%;
}

.containere3 {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
  font-size: 1.2rem;
  height: 50%;
}